<div class="container">
  <div class="align">
      
  <h3 class="text-primary text-center">Log In</h3>
  <div class="row">
      <div class="col-md-12 text-center ">
          <input type="text" placeholder="username" style="padding-right:50px;border:3px;outline-width: 3px;outline-color: green;padding-top:5px;padding-bottom:5px;padding-left:2px">
      </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-12 text-center">
          <input type="password" placeholder="password" style="padding-right:50px;border:3px;outline-width: 3px;outline-color: green;padding-top:5px;padding-bottom:5px;padding-left:2px">
      </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-12 text-center">
          <button type="button" class="btn btn-primary" style="outline:magenta">Log in</button>
      </div>
  </div>
</div>

</div>